<% @current_user.channels.include?(local[:channel] ? margin = "ml-5" : margin = "ml-1") %>
<article class="flex <%= margin %>">
<% if params[:id] == local[:channel].id.to_s %>
  <li class="h-8 btn btn-success h-full btn-xs w-full">
<% elsif @current_user.channels.ids.include?(local[:channel].id) %>
  <li class="h-8 btn btn-info btn-xs w-full h-full w-full">
<% else %>
  <li class="h-8 btn btn-accent btn-xs w-full bg-blue-100">
<% end %>
  <div>
    <%= link_to local[:channel].name, local[:channel] %>

  </div>

</li>
<% if @current_user.channels.include?(local[:channel]) %>
  <div class="badge badge-error ">
    <%= link_to "x", channel_channel_user_path(local[:channel]), method: :delete %>
  </div>
<% end %>
</article>