<div class="w-screen flex justify-center">
  <div class="lg:w-8/12 sm:w-full">
<!--    HEADING-->
    <h1 class="mb-5 text-5xl font-black">Roles Management</h1>

<!--    ROLES-->
    <%== pagy_nav(@pagy) %>

    <p class="mb-3">
      <strong>Roles: </strong> <%= @roles.count %>
    </p>

<!--    CREATE NEW ROLES-->
    <ul role="list" class="space-y-3">
      <% @role = Role.new %>
      <%= render 'admin/add_role_form' %>

<!--    LIST CURRENT ROLES-->

        <% if @roles %>
          <% @roles.each do |role| %>
            <%= render 'shared/Components/list_item', local: { contents:
                                  { first: "ID: #{ role.id }",
                                   second: role.name },
                                delete: true, path: role_path(role.id)} %>
          <% end %>
        <% end %>
    </ul>
  </div>
</div>



