
<%= paginate @definitions %>

<div class="w-screen flex justify-center">
  <div class="lg:w-8/12 sm:w-full">
    <!--    HEADING-->
    <h1 class="mb-5 text-5xl font-black">Definitions Management</h1>

    <!--    ROLES-->
    <p class="mb-3">
      <strong>Definitions: </strong> <%= @definitions.count %>
    </p>

      <!--    LIST CURRENT ROLES-->

      <% if @definitions %>
        <% @definitions.each do |definition| %>
          <%= render 'shared/Components/list_item', local: { contents:
                                                               { first: "ID: #{ definition.word.word }",
                                                                 second: definition.title },
                                                             edit: true, edit_path: edit_definition_path(definition.id),
                                                             delete: true, path: definition_path(definition.id)} %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>