<div class="mx-auto md:w-2/3 w-full">
  <h1 class="text-lg font-bold text-4xl">New lesson result</h1>

  <%= render "form", lesson_result: @lesson_result %>

  <%= link_to 'Back to lesson results', lesson_results_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
