<section class="flex flex-wrap gap-3 w-full">
  <div class="flex flex-col w-full gap-3 bg-gray-100">
<!--    Broken, haven't figured out why-->
<!--    undefined method `total_pages' for #<ActiveRecord::Relation-->
<!--    SEARCHBAR-->

    <div class="flex items-center flex-col">
      <div>
        <%= render '/shared/Components/search_bar', path: course_list_path, options: @options %>
      </div>
      <div>
      <%== pagy_bootstrap_nav(@pagy) %>
      </div>

    </div>

    <div class="flex items-center justify-center flex-wrap gap-3">

      <% admin = @current_user.has_role? :admin %>
      <% @courses.each do |c| %>
        <%= render 'courses/course_card', course: c, link: course_path(c), admin: :admin %>
      <% end %>
    </div>
  </div>
</section>

