<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="text-lg font-bold text-4xl">Courses</h1>
    <%= link_to 'New course', new_course_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="courses" class="bg-yellow-100 z-10 shadow-lg group container flex-wrap  rounded-md bg-white flex justify-center items-center  mx-auto content-div p-5">
    <%= render @courses %>
  </div>
</div>
