<section class="flex flex-col items-center w-7/12 text-center ">
<h1 class="text-4xl font-bold pb-12">About</h1>
  <div class="bg-blue-100 p-5 rounded-xl flex flex-col gap-3 text-xl leading-relaxed shadow-inner">
    <p>This site was made in order to improve my ability to work with SQL Databases (Postgres in this case).  It is built using Ruby on Rails 6.1.4, Tailwinds and Turbo.  Since at the time of creating this website I have not yet covered much in the way of front-end development, I have also used Bootstrap purely as placeholder in order to get functioning drops down menus and such. </p>
    <p>This project is not intended as a showcase of my front-end development capabilities.</p>
  </div>
</section>
