<div class="inline-flex w-full h-full align-center items-center justify-center">
  <div class="flex-3 avatar w-max h-full bg-blue-500">
    <div class="mb-8 rounded-btn w-10 h-10 flex items-center">
      <% if content[:user].image.attached? %>
        <%= image_tag content[:user].image, width: 200, class: 'inline-block h-14 w-14 rounded-full object-cover' %>
      <% else %>
        <%= image_tag 'https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png', width: 200, class: 'inline-block h-14 w-14 rounded-full object-cover m-1' %>
      <% end %>
    </div>
  </div>
  <div class= "flex-1 ml-2">
    <% if content[:name] %>
      <%= content[:name] %>
    <% end %>
  </div>
</div>