
<div class="flip-card h-full w-full">
  <div class="flip-card-inner">
    <article class="flip-card-front font-variant-numeric text-xl ordinal align-middle stacked-fractions subpixel-antialiased font-sans  tracking-wider bg-gray-800 text-white flex justify-center items-center">
          <strong class=" stacked-fractions subpixel-antialiased"><%== params[:flashcard][:side_one] %></strong>
    </article>
    <article class="flip-card-back text-xl ordinal align-middle  font-sans  tracking-wider bg-blue-400 text-white flex justify-center items-center">
        <strong><%== params[:flashcard][:side_two] %></strong>
    </article>
  </div>
</div>