<div class="flip-card h-full w-full">
  <div class="flip-card-inner">
    <article class="flip-card-front flex justify-center items-center">
      <% if local[:path] %>
        <% local[:side_one].each do |item| %>
          <strong><%= item[1] %></strong>
        <% end %>
      <% end %>
    </article>
    <article class="flip-card-back flex justify-center items-center">
      <% if local[:path] %>
        <% local[:side_two].each do |item| %>
          <strong><%= item[1] %></strong>
        <% end %>
      <% end %>
    </article>
  </div>
</div>